@charset "utf-8";



    #top-photolist {
        position: relative;
        z-index: 100;
        width: 100%;
        height: 100%;
    }

    #top-photolist li {
        position: absolute;
        top: 0;
        left: 0;
        display: none;
        list-style: none;
        width: 100%;
        height: 100%;
    }

    #top-photolist li img {
        width: 100%;
        height: 100%;
        background-size: cover;
    }

    /*#top-photolist li:hover {
    opacity: 0.95;
    transition: 0.8s;
}
*/

    .mainimagescontents #control {
        position: relative;
        top: -50%;
        transform: translateY(-50%);
        z-index: 101;
    }




    /*white-section*/
    /*black-section*/
    /*transparent-section*/

    .whitesection {
        background-color: rgba(255, 255, 255, 0.5);
        color: black;
    }

    .blacksection {
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
    }

    .transparentsection {
        background-color: transparent;
        color: rgba(0, 0, 0, 0.8);
    }

    .whitesection,
    .blacksection,
    .transparentsection {
        margin: 8px;
        padding: 30px 30px 30px 30px;
        border-radius: 8px;
    }

    /*.whitesection h2,
    .blacksection h2,
    .transparentsection h2 {
        padding: 0px 0px 0px 0px;
    }

    .whitesection h3,
    .blacksection h3,
    .transparentsection h3 {
        padding: 0px 5px 0px 5px;
    }*/

    .whitesection h4,
    .blacksection h4,
    .transparentsection h4 {
        padding: 0px 10px 0px 10px;
    }

    .whitesection h5,
    .blacksection h5,
    .transparentsection h5 {
        padding: 0px 15px 0px 15px;
    }

    .whitesection p,
    .blacksection p,
    .transparentsection p {
        padding: 0px 20px 0px 20px;
    }

    .sectionimage {
        width: 100%;
        margin-right: 20%;
        margin-left: 20%;
        padding: 20px;
    }


    /*white-black-section*/
    /*black-white-section*/
    .whiteblacksection,
    .blackwhitesection {
        background-color: transparent;
        margin-top: 8px;
        margin-bottom: 8px;
    }

    .whiteblacksection ul,
    .blackwhitesection ul {
        margin: 0;
        padding-left: 0;
        list-style: none;
        width: 100%;
    }

    .whiteblacksection ul li,
    .blackwhitesection ul li {
        margin: 0;
        width: 50%;
        display: table-cell;
        *display: inline-block;
        *zoom: 1;
    }

    .whiteblacksection .whitesquare,
    .blackwhitesection .blacksquare {
        padding: 24px;
        margin: 0px 4px 0px 8px;
        border-radius: 8px;
    }


    .whiteblacksection .blacksquare,
    .blackwhitesection .whitesquare {
        padding: 24px;
        margin: 0px 8px 0px 4px;
        border-radius: 8px;
    }

    .iconimage {
        width: 100%;
    }

    .iconimage:hover {
        opacity: 0.85;
        transition: 1s;
    }

    .whitesquare div, .blacksquare div {
        width: 100%;
        height: 1px;
    }

    .whitesquare {
        background-color: rgba(255, 255, 255, 0.5);
        color: black;
    }

    .blacksquare {
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
    }

    .whitesquare h2,
    .blacksquare h2,
    .whitesquare h3,
    .blacksquare h3,
    .whitesquare h4,
    .blacksquare h4,
    .whitesquare h5,
    .blacksquare h5,
    .whitesquare p,
    .blacksquare p {
        text-align: center;
    }

    .whitesquare h4,
    .blacksquare h4 {
        height: 39px;
    }

    .whitesquare h5,
    .blacksquare h5 {
        height: 52px;
    }





    /*link+listsection*/
    .space20 {
        width: 100%;
        height: 20px;
        background-color: transparent;
    }

    .listsection, .phaselistsection {
        width: 100%;
    }

    .listsection h4,
    .listsection h5,
    .listsection p {
        padding: 0px 0px 0px 0px;
    }
 
    .phaselistsection h4 {
        padding: 0;
        width: 100%;
        text-align: center;
    }

    .listsection li, .phaselistsection li {
        width: 100%;
        display: inline-block;
        list-style: none;
        position: relative;
        border-bottom: 1px dashed;
        border-bottom-color: gray;
    }

    #lastlistitem {
        border-bottom-color: transparent;
    }

    .plistsectionitem {
        width: 100%;
        height: 88px;
        background-color: rgba(255, 255, 255, 0.6);
        position: relative;
        padding-top: 15px;
        padding-bottom: 15px;
        color: rgba(0, 0, 0, 1);
    }

    .plistsectionitem:hover {
        background-color: rgba(0, 0, 0, 0.5);
        transition: 1s;
        color: rgba(255, 255, 255, 1);
    }


    .wlistsectionitem {
        width: 100%;
        height: 96px;
        background-color: rgba(255, 255, 255, 0.6);
        position: relative;
        padding-left: 96px;
        padding-top: 10px;
        color: rgba(0, 0, 0, 1);
    }

    .wlistsectionitem:hover {
        background-color: rgba(0, 0, 0, 0.5);
        transition: 1s;
        color: rgba(255, 255, 255, 1);
    }

    .blistsectionitem {
        width: 100%;
        height: 96px;
        background-color: rgba(255, 255, 255, 0.6);
        position: relative;
        padding-left: 96px;
        padding-top: 10px;
        color: rgba(0, 0, 0, 1);
    }

    .blistsectionitem:hover {
        background-color: rgba(255, 255, 255, 0.5);
        transition: 1s;
        color: rgba(255, 255, 255, 1);
    }

    .tlistsectionitem {
        width: 100%;
        height: 96px;
        background-color: rgba(255, 255, 255, 0.5);
        position: relative;
        padding-left: 96px;
        padding-top: 10px;
        color: rgba(0, 0, 0, 0.75);
    }

    .tlistsectionitem:hover {
        background-color: rgba(0, 0, 0, 0.25);
        transition: 1s;
        color: rgba(255, 255, 255, 0.75);
    }

    .wlistsectionitem:before,
    .blistsectionitem:before,
    .tlistsectionitem:before {
        content: '';
        display: inline-block;
        width: 72px;
        height: 72px;
        border-radius: 4px;
        background-image: url(../img/icon/point1.png);
        background-size: cover;
        vertical-align: middle;
        margin-right: 5px;
        position: absolute;
        top: 50%;
        left: 12px;
        transform: translateY(-50%);
    }



    /*newslist*/
    .newsitem {
        width: 100%;
        height: 96px;
        background-color: rgba(255, 255, 255, 1);
        position: relative;
        padding-left: 12px;
        padding-right: 12px;
        padding-top: 10px;
        color: rgba(0, 0, 0, 1);
    }

    .nodecoration {
        text-decoration: none;
        color: black;
    }




    /*table*/
    table {
        width: 100%;
    }

    .whitesection table {
        border: 1px solid black;
        border-collapse: collapse;
    }

    .blacksection table {
        border: 1px solid white;
        border-collapse: collapse;
    }

    td,
    th {
        padding: 10px;
        vertical-align: top;
        font-size: 13px;
        line-height: 26px;
    }

    .whitesection td,
    .whitesection th {
        color: black;
    }

    .blacksection td,
    .blacksection th {
        color: white;
    }

    .tablehead {
        padding: 0;
    }

    /*tr:nth-child(even) {
        background-color: lightgray;
    }*/

    table a {
        text-decoration: none;
        border-bottom: 1.5px groove;
        border-color: transparent;
    }

    .whitesection table a {
        color: #808080;
    }

    .blacksection table a {
        color: #080808;
    }

    .whitesection table a:hover {
        border-color: mediumblue;
        transition: 0.8s;
    }

    .blacksection table a:hover {
        border-color: mediumblue;
        transition: 0.8s;
    }




    /*link-hover*/
    .linktextw {
        text-decoration: none;
        border-bottom: 2px groove;
        color: white;
        border-bottom-color: transparent;
    }

    .linktextw:hover {
        border-bottom-color: mediumblue;
        transition: 0.7s;
    }

    .linktextb {
        text-decoration: none;
        border-bottom: 2px groove;
        border-bottom-color: transparent;
        color: black;
    }

    .linktextb:hover {
        border-bottom-color: mediumblue;
        transition: 0.7s;
    }

    .emphasizew {
        color: darkorange;
    }
    .emphasizew {
        color: orange;
    }

    .comingsoon {
        text-align: center;
        padding-top: 35px;
        padding-bottom: 35px;
    }




    /*title-border*/
    .borderline {
        border-bottom: 2px dashed;
        border-bottom-color: cadetblue;
        position: relative;
        z-index: 1;
        padding-left: 22px;
    }

    .borderline:before {
        content: '';
        display: inline-block;
        width: 17px;
        height: 17px;
        background-image: url(../img/icon/point1.png);
        background-size: cover;
        vertical-align: middle;
        margin-right: 5px;
        position: absolute;
        top: 50%;
        left: 0px;
        transform: translateY(-50%);
    }




    /*blog*/
    .blog {
        color: black;
        background-color: rgba(255,255,255,0.7);
        margin: 10px;
        border-radius: 10px;
        padding: 20px 20px 20px 20px;
    }

    .blog-title {
        width: 100%;
        text-align: center;
    }

    .blog-content {
        width: 100%;
        margin-top: 40px;
    }

    .report-figure {
        width: 100%;
    }
    .report-figure li {
        width: 50%;
        display: table-cell;
        *display: inline-block;
        *zoom: 1;
        list-style: none;
    }
    .report-figure li:nth-child(odd) {
        padding: 15px 10px 15px 20px;
    }
    .report-figure li:nth-child(even) {
        padding: 15px 20px 15px 10px;
    }
    .report-figure-item {
        width: 100%;
    }
    .report-figure-image {
        width: 100%;
        padding: 0;
    }

    .figure-left {
        display: inline-block;
        float: left;
        width: 43%;
        padding: 15px 10px 15px 20px;
    }
    .figure-right {
        display: inline-block;
        float: right;
        width: 43%;
        padding: 15px 20px 15px 10px;
    }
    .figure-horizontal {
        width: 100%;
        padding: 15px 20px 15px 20px;
    }
    
    #first-blog-content {
        margin-top: 0px;
    }

    .blogsection {
        border-bottom: 1.5px dashed;
        border-bottom-color: cadetblue;
        position: relative;
        z-index: 1;
        padding-left: 20px;
    }

    .blogsection:before {
        content: '';
        display: inline-block;
        width: 14.5px;
        height: 14.5px;
        background-image: url(../img/icon/point1.png);
        background-size: cover;
        vertical-align: middle;
        margin-right: 5.5px;
        position: absolute;
        top: 50%;
        left: 0px;
        transform: translateY(-50%);
    }

    .blogsub {
        width: auto;
        border-bottom: 1.5px solid;
        border-bottom-color: cadetblue;
        position: relative;
        z-index: 1;
        /*padding: 0px 10px 0px 10px;*/
        margin-top: 20px;
        margin-left: 15px;
    }

    .blog-content .textline {
        width: 100%;
        padding: 0px 20px 16px 20px;
    }

    .blogimage {
        width: 100%;
        padding: 10px 20px 10px 20px;
    }

    .blog-footer {
        width: 100%;
        padding: 10px;
    }

    .blog-link {
        text-decoration: none;
        border-bottom: 1px groove;
        color: darkslateblue;
        border-bottom-color: transparent;
    }

    .blog-link:hover {
        border-bottom-color: mediumblue;
        transition: 0.7s;
    }

    .blogbackbutton {
        text-align: center;
    }

    .blog-backlink {
        text-decoration: none;
        border-bottom: 1.5px groove;
        color: darkblue;
        border-bottom-color: transparent;
    }

    .blog-backlink:hover {
        border-bottom-color: mediumblue;
        transition: 0.7s;
    }

    /*タイプライタークラス*/
    .split {
        visibility: hidden;
        text-align: center;
        font-weight: 400;
    }
    .textSplitLoad {
        display: none;
    }
    .bar {
        width: 1px;
        height: 17px;
        opacity: 0;
        background-color: black;
        display: inline-block;
        -webkit-animation: blinkingbar 1s infinite;
        animation: blinkingbar 1s infinite;
    }
    @keyframes blinkingbar {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }



@media screen and (max-width: 450px) {
    /*white-black-section*/
    /*black-white-section*/
    .whiteblacksection,
    .blackwhitesection {
        background-color: transparent;
        margin: 8px;
    }

    .whiteblacksection ul,
    .blackwhitesection ul {
        margin: 0;
        padding-left: 0;
        list-style: none;
        width: 100%;
    }

    .whiteblacksection ul li,
    .blackwhitesection ul li {
        margin: 0;
        width: 100%;
        display: inline-block;
    }

    .whiteblacksection .whitesquare,
    .blackwhitesection .blacksquare {
        padding: 24px;
        margin: 0px 0px 8px 0px;
        border-radius: 8px;
    }


    .whiteblacksection .blacksquare,
    .blackwhitesection .whitesquare {
        padding: 24px;
        margin: 0;
        border-radius: 8px;
    }
    .blackwhitesection .whitesquare {
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
    }

    .blackwhitesection .blacksquare {
        background-color: rgba(255, 255, 255, 0.5);
        color: black;
    }
    
    .iconimage {
        display: none;
    }
    .blackwhitesection .linktextw {
        text-decoration: none;
        border-bottom: 2px groove;
        color: black;
        border-bottom-color: transparent;
    }

    .blackwhitesection .linktextw:hover {
        border-bottom-color: mediumblue;
        transition: 0.7s;
    }

    .blackwhitesection .linktextb {
        text-decoration: none;
        border-bottom: 2px groove;
        border-bottom-color: transparent;
        color: white;
    }

    .blackwhitesection .linktextb:hover {
        border-bottom-color: mediumblue;
        transition: 0.7s;
    }

    
    
    .report-figure {
        width: 100%;
    }
    .report-figure li {
        width: 100%;
        display: inline-block;
        list-style: none;
    }
    .report-figure-item {
        width: 100%;
        padding: 10px;
    }
    .report-figure-image {
        width: 100%;
        padding: 0;
    }
    .report-figure li:nth-child(odd) {
        padding: 15px 20px 15px 20px;
    }
    .report-figure li:nth-child(even) {
        padding: 15px 20px 15px 20px;
    }
    
    .figure-left {
        display: inline-block;
        float: left;
        width: 66%;
        padding: 15px 10px 15px 20px;
    }
    .figure-right {
        display: inline-block;
        float: right;
        width: 66%;
        padding: 15px 20px 15px 10px;
    }
    
    
    
    
    
    
    
    /*TOPスライドビュー*/
    .mainimagescontents {
        width: 100vw;
        height: 56.25vw;
    }
    
    
    #control ul {
        position: relative;
        width: 100vw;
        height: 6vw;
    }

    #control li {
        display: inline-block;
        position: relative;
        list-style: none;
    }

    #control img {
        width: 6vw;
        height: 6vw;
        cursor: pointer;
    }

    #control img:hover {
        opacity: 0.5;
        transition: 1s;
    }

    #control #prev {
        padding-left: 6vw;
    }

    #control #next {
        padding-left: 76vw;
    }
}

@media screen and (min-width: 451px) and (max-width: 800px) {
    
    .figure-left {
        display: inline-block;
        float: left;
        width: 55%;
        padding: 15px 10px 15px 20px;
    }
    .figure-right {
        display: inline-block;
        float: right;
        width: 55%;
        padding: 15px 20px 15px 10px;
    }
    
    /*TOPスライドビュー*/
    .mainimagescontents {
        width: 100vw;
        height: 56.25vw;
    }
    
    .sectionimage {
        width: 80%;
        margin-right: 10%;
        margin-left: 10%;
    }
    
    #control ul {
        position: relative;
        width: 100vw;
        height: 6vw;
    }

    #control li {
        display: inline-block;
        position: relative;
        list-style: none;
    }

    #control img {
        width: 6vw;
        height: 6vw;
        cursor: pointer;
    }

    #control img:hover {
        opacity: 0.5;
        transition: 1s;
    }

    #control #prev {
        padding-left: 6vw;
    }

    #control #next {
        padding-left: 76vw;
    }
    
}


@media screen and (min-width: 801px) {
    .figure-left {
        display: inline-block;
        float: left;
        width: 45%;
        padding: 15px 10px 15px 20px;
    }
    .figure-right {
        display: inline-block;
        float: right;
        width: 45%;
        padding: 15px 20px 15px 10px;
    }
    
    /*TOPスライドビュー*/
    .mainimagescontents {
        width: 60vw;
        height: 33.75vw;
        padding: 8px 8px 0px 8px;
    }
    
    #top-photolist {
        border-radius: 8px;
        overflow: hidden;
    }
    
    #control ul {
        position: relative;
        width: 100%;
        height: 3.75vw;
    }

    #control li {
        display: inline-block;
        position: relative;
        list-style: none;
    }

    #control img {
        width: 3.75vw;
        height: 3.75vw;
        cursor: pointer;
    }

    #control img:hover {
        opacity: 0.5;
        transition: 1s;
    }

    #control #prev {
        padding-left: 4.25vw;
    }

    #control #next {
        padding-left: 44vw;
    }
}
